button {
    margin: 30px 0px 2px 2px;
  }
  
  input.ng-invalid.ng-touched {
    border: 2px solid red;
  }
  
  h2 {
    text-align: center;
    font-weight: 600;
  }
  
  /* .container { */
    /* margin-top: 5vh;
    height: auto;
    width: 30vw; */
  /* } */
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .row__content {
    height: 90%;
    border: 1px solid rgb(209, 209, 209);
    padding: 40px;
    border-radius: 8%;
    width: 100%;
  }
  
  /* .btn {
    padding: 12.5px 35px;
    border-radius: 100px;
  } */
  .first{
    float: left;
    margin-left: 200px;

  }
  .second{
float: right;
margin-right: 200px;
  }
  
  .table{
    align-content: center;
    width: 75%;
  }
  nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    height: 70px;

}
 
  