<!-- <app-irda-header></app-irda-header> -->
<app-navbar></app-navbar>
<div class="container">
      
    <div class="heading">
        <h2 class="heading--highlight highlight">REPORT GENERATION PORTAL
        </h2>
    </div>
    <br><br>
    <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" class="first"> 
      <div> 
        <h3 class="heading--highlight highlight">STATUS OF CLAIMS
        </h3>
        <table class="table">
            
            <label for="year">Year</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Year"
              name="year"
              ngModel
              required
              #year="ngModel"
            /> 
            <span *ngIf="f.submitted && year.errors?.['required']" style="color: red"
              >Please enter Year</span
            ><br><br>
            <label for="mon">Month</label>
            <select
              class="form-control"
              name="mon"
              ngModel
              required
              #mon="ngModel">
              <option
                *ngFor="let months of allItems"
                [ngValue]="months.month">
                {{months.mont}}
              </option>
            </select>
            <span *ngIf="f.submitted && mon.errors?.['required']" style="color: red"
            >Please select a Month</span><br>

         

         


          <!-- <label *ngIf="singleClaim.amountApprovedBySurveyor == '0'">Surveyor needs to allocate Amount first</label> -->

          <button  type="submit" class="btn btn-primary w-100">
            Generate Report
            &rarr;
          </button> 
         
                 
        </table>
    </div>       



    </form>
    <form (ngSubmit)="ff.form.valid && onSubmit2(ff)" #ff="ngForm" class="second">
        <div> 
            <h3 class="heading--highlight highlight">CLAIMS PAYMENT
            </h3>
          <table class="table">
              
              <label for="yea">Year</label>
              <input
                type="text"
                class="form-control"
                placeholder="Enter Year"
                name="yea"
                ngModel
                required
                #yea="ngModel"
              /> 
              <span *ngIf="ff.submitted && yea.errors?.['required']" style="color: red"
                >Please enter Year</span
              ><br><br>
              <label for="mont">Month</label>
              <select
                class="form-control"
                name="mont"
                ngModel
                required
                #mont="ngModel">
                <option
                  *ngFor="let months of allItems"
                  [ngValue]="months.month">
                  {{months.mont}}
                </option>
              </select>
              <span *ngIf="ff.submitted && mont.errors?.['required']" style="color: red"
              >Please select a Month</span><br>

           

           


            <!-- <label *ngIf="singleClaim.amountApprovedBySurveyor == '0'">Surveyor needs to allocate Amount first</label> -->

            <button   type="submit" class="btn btn-primary w-100">
              Generate Report
              &rarr;
            </button> 
           
                   
          </table>
      </div>       



      </form>


</div>



